@font-face {
  font-family: 'Office Code Pro';
  src:  url('fonts/WOFF2/OfficeCodePro-Bold.woff2') format('woff2'),
  			url('fonts/WOFF/OfficeCodePro-Bold.woff') format('woff');       
}

@font-face {
  font-family: 'Office Code Pro Regular';
  src:  url('fonts/WOFF2/OfficeCodePro-Regular.woff2') format('woff2'),
  			url('fonts/WOFF/OfficeCodePro-Regular.woff') format('woff');       
}

body {
	overflow: hidden;
	font-family: 'Office Code Pro';
	color: #0000FF;
}

#controls, #controls-toggle {
	z-index: 10000;
}

#info-toggle {
	-webkit-transition: -webkit-transform .15s ease;
	transition: transform .15s ease;
	position: fixed;
	bottom: 1rem;
	right: 5rem;
	cursor: pointer;
}

#info-overlay {
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);

	-webkit-transition: -webkit-transform .35s cubic-bezier(.44,0,.35,1.28), bottom .35s cubic-bezier(.44,0,.35,1.28);
	transition: transform .35s cubic-bezier(.44,0,.35,1.28), bottom .35s cubic-bezier(.44,0,.35,1.28);

	font-family: 'Office Code Pro Regular';
	position: fixed;
	width: 500px;
	bottom: -100vh;
	left: 50%;
	border: 2px solid;
	background: #FFF;
}

.info-section__info, .info-section__controls, .info-section__actions {
	padding: 1.5rem;
}

#info-overlay.open {
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, 50%);

	bottom: 50vh;
}

.info-heading {
	font-family: 'Office Code Pro';
}

.controls-list__heading, .actions-list__heading {
	font-family: 'Office Code Pro';
	margin-bottom: 1rem;
}

.controls-list__list-item, .actions-list__list-item {
	margin-top: .5rem;
	line-height: 1.4;
}

.controls-list__item-heading, .actions-list__item-heading {
	font-family: 'Office Code Pro';
}

.full-width-rule {
	border: none;
	border-top: 2px solid;
	margin: 0;

}

#info-overlay__close {
	font-family: 'Office Code Pro';
	position: absolute;
	top: 1rem;
	right: 1rem;
	line-height: 2rem;
	font-size: 1rem;
	border-radius: 50%;
	border: 2px solid;
	width: 2rem;
	height: 2rem;
	text-align: center;
}
 
#controls-toggle {
	-webkit-transform: translate(0, 0);
	transform: translate(0,0);

	-webkit-transition: -webkit-transform .15s ease;
	transition: transform .15s ease;
}

#controls-toggle.open {
	-webkit-transform: translate(-250px, 0);
	transform: translate(-250px,0);
}

#controls-toggle.open ~ #info-toggle {
	-webkit-transform: translate(-250px, 0);
	transform: translate(-250px,0);
}

#controls {

	-webkit-transform: translate(100%, 0);
	transform: translate(100%,0);

	-webkit-transition: -webkit-transform .15s ease;
	transition: transform .15s ease;

	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	width: 250px;
	border-left: 2px solid;
	background: #FFF;
	font-size: .75rem;
	height: 100vh;
	overflow-y: scroll;

	color: #0000FF;
	font-family: 'Office Code Pro', monospace;
}

#controls.open {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

#controls * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h2 {
	margin-bottom: 1.5rem;
}

a {
	text-decoration: none;
	color: inherit;
}

a.ext_link {
	text-decoration: underline;
}

.block {
	display: block;
	padding: 1.5rem;
	border-bottom: 2px solid;
	width: 100%;
	overflow: hidden;
}

.block--bottom {
	border: none;
}

.block--nopad {
	padding: 0;
	overflow: hidden;
}

.button {
	width: 33.3333%;
	text-align: center;
	padding: 1rem 0;
	float: left;
	cursor: pointer;
}

.button.pressed {
	background: #0000FF;
}

.button--play::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left: 14px solid #0000FF;
}

.button--play.pressed::after {
	border-left: 14px solid #FFF;
}

.button--pause::after {
	content: '';
	display: inline-block;
	width: 5px;
	height: 14px;
	border-left: 5px solid;
	border-right: 5px solid;
}

.button--pause.pressed::after {
	border-left: 5px solid #FFF;
	border-right: 5px solid #FFF;
}

.button--reset::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right: 10px solid #0000FF;
}

.button--reset::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right: 10px solid #0000FF;
	margin-left: -10px;
}

.button:not(:last-of-type) {
	border-right: 2px solid;
}

.list-col {
	width: 50%;
	float: left;
}

.list-col li {
	overflow: hidden;
}

.list-col li:not(:last-of-type) {
	margin-bottom: 1rem;
}

input[type=checkbox] {
	position: absolute;
	left: 100%;
	display: none;
}

input[type=checkbox] ~ label {
	line-height: 1;
	cursor: pointer;
}

input[type=checkbox] ~ label::before {
	content: '';
	display: inline-block;
	width: .875rem;
	height: .875rem;
	border-radius: 50%;
	border: 2px solid;
	vertical-align: middle;
	margin-right: .5rem;
}

input[type=checkbox]:checked ~ label::before {
	background: #0000FF;
}

input[type=range] {
	width: 100%;
	margin: 0;
	padding: 0;
	-webkit-appearance: none;
	margin-bottom: 1rem;
	cursor: ew-resize;
}

input[type=range]:focus {
	-webkit-appearance: none;
	border: none;
	outline: none;
	box-shadow: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	background: #0000FF;
	border-radius: 2px;
}

input[type=range]::-moz-range-track {
	height: 2px;
	background: #0000FF;
	border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	width: 12px;
	height: 12px;
	background: #0000FF;
	border-radius: 6px;
	margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	width: 12px;
	height: 12px;
	background: #0000FF;
	border-radius: 6px;
	margin-top: -5px;
}

.min-label {
	float: left;
}

.max-label {
	float: right;
}

.form-field:not(:last-of-type) {
	margin-bottom: 1rem;
}

#controls-toggle {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	cursor: pointer;
}

.actions {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	width: 50%;
}

#share-message {
	font-size: .75rem;
	display: inline-block;
	padding: .5rem;
	border: 2px solid;
	border-radius: 4px;
	text-transform: uppercase;
}

#download {
	font-size: .75rem;
	display: inline-block;
	padding: .5rem;
	border: 2px solid;
	border-radius: 4px;
	text-transform: uppercase;
	margin-left: .5rem;
}